.env
.env.*
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.sqlite
*.db
celerybeat-schedule
celery_results/
celery_data/
celerybeat/
control/
*.log
.vscode/
.idea/
.DS_Store
Thumbs.db